# CEERS-> parameters defined by the USER for running VISUAL INSPECTION TOOL
[inputs]
input_images_path = /Volumes/T7_Shield/CEERS_v5_McLeod/
input_images = jwst_ceers_sw_nircam_v5_f606w_microJy_convolved.fits,
           jwst_ceers_sw_nircam_v5_f814w_microJy_convolved.fits,
           jwst_ceers_sw_nircam_v5_f115w_microJy_convolved.fits,
	       jwst_ceers_sw_nircam_v5_f150w_microJy_convolved.fits,
	       jwst_ceers_sw_nircam_v5_f200w_microJy_convolved.fits,
	       jwst_ceers_sw_nircam_v5_f277w_microJy_convolved.fits,
	       jwst_ceers_sw_nircam_v5_f356w_microJy_convolved.fits,
	       jwst_ceers_sw_nircam_v5_f444w_microJy_convolved.fits	### Must be this format
input_band_names = F606W,F814W,F115W,F150W,F200W,F277W,F356W,F444W
object_file_type = fits						### csv or fits
object_file = /Users/s1508137/PhD/OiiiHbeta_Project/data/visual_inspection/ceerse1_additional_objects_id_ra_dec_SW_batch.fits
cutout_size = 10							### in arcsec, will be lxl square cutout
c_vmin = 0.5
c_vmax = 99.5

[default_outs]
output_file = /Users/s1508137/PhD/OiiiHbeta_Project/data/visual_inspection/ceerse1_additional_objects_SW_batch_selection.dat
selection_default_option = ?
selection_default_comment = 
