# parameters defined by the USER for running VISUAL INSPECTION TOOL
[inputs]
input_images_path = /Volumes/T7_Shield/JADES_DR2/
input_images = jwst_jades-gs_dr2_f814w_30mas_microJy_convolved.fits,
               jwst_jades-gs_dr2_f090w_30mas_microJy_convolved.fits,
	       jwst_jades-gs_dr2_f115w_30mas_microJy_convolved.fits,
               jwst_jades-gs_dr2_f150w_30mas_microJy_convolved.fits,
               jwst_jades-gs_dr2_f200w_30mas_microJy_convolved.fits,
	       jwst_jades-gs_dr2_f356w_30mas_microJy_convolved.fits,
               jwst_jades-gs_dr2_f410m_30mas_microJy_convolved.fits,
	       jwst_jades-gs_dr2_f444w_30mas_microJy_convolved.fits	### Must be this format
input_band_names = F814W,F090W,F115W,F150W,F200W,F356W,F410M,F444W
object_file_type = csv						### csv or fits
object_file = /Users/rbeg/Research/OiiiHbeta_Project_continued/data/updated_catalogs_may24/JADES-GS_DR2_F356W_0p5arcsec_selected_z6p9_to_z7p0_AND_z7p5_to_z7p6_ID_RA_DEC.cat ### should be path+file eg /Users/RB/data/smacs_hiz_specz.fits
cutout_units = arcsec
cutout_size = 10							### in arcsec, will be lxl square cutout
c_vmin = 0.5
c_vmax = 99.5

[default_outs]
output_file = dump.dat
selection_default_option = F
selection_default_comment = 
overwrite_output = False

[settings]
suppress_warnings = True 		### suppress Astropy warnings
cmap = binary				### Any Matplotlib cmap
clean_percentiles = True
pixel_scale = 0.03			### arcsec per pixel of the image
aperture_units = pixels			### units for aperture size, options = [pixels,arcsec]
aperture_size = 3.3333,5.83333		### list of sizes to plot
aperture_colour = xkcd:yellow orange		### anything Matplotlib compatible
aperture_thickness = 0.5			### ^

