# parameters defined by the USER for running VISUAL INSPECTION TOOL
[inputs]
input_images_path = /Users/s1508137/PhD/JWST/SMACS_IMAGING/
input_images = jwst_f090w_smacs0723-73_microJy_swarped.fits,
	       jwst_f150w_smacs0723-73_microJy_swarped.fits,
	       jwst_f200w_smacs0723-73_microJy_swarped.fits,
	       jwst_f277w_smacs0723-73_microJy_swarped.fits,
	       jwst_f356w_smacs0723-73_microJy_swarped.fits,
	       jwst_f444w_smacs0723-73_microJy_swarped.fits	### Must be this format
input_band_names = F090W,F150W,F200W,F277W,F356W,F444W
object_file_type = fits						### csv or fits
object_file = /Users/s1508137/PhD/JWST/smacs_hiz_specz.fits		### should be path+file eg /Users/RB/data/smacs_hiz_specz.fits
cutout_size = 10							### in arcsec, will be lxl square cutout
c_vmin = 0.5
c_vmax = 99.5

[default_outs]
output_file = catalogue_selection.dat
selection_default_option = ?
selection_default_comment = 
