# parameters defined by the USER for running VISUAL INSPECTION TOOL
[inputs]
input_images_path = /Users/user/imaging_directory/
input_images = jwst_nircam_f115w_30mas.fits,
	       jwst_nircam_f200w_30mas.fits,
	       jwst_nircam_f335m_30mas.fits,
	       jwst_nircam_f444w_30mas.fits	### Must be this format: [list of images, one file per line, ending in comma]
input_band_names = F115W,F200W,F335M,F444W	### Labels for each stamp: [list of comma separated strings]
object_file_type = csv				### datafile type containing source info: csv [or ascii,fits] 
object_file = /Users/user/object_information.csv ### should be path+file: must contain id,ra,dec [redshift optional]
cutout_units = arcsec				### unit of cutout for l
cutout_size = 10				### in arcsec, will be lxl square cutout
c_vmin = 0.5					### percentile limits for imshow normalisation
c_vmax = 99.5

[default_outs]
output_file = dump.dat
selection_default_option = F
selection_default_comment = 
overwrite_output = False

[settings]
suppress_warnings = True 		### suppress Astropy warnings
cmap = binary				### Any Matplotlib cmap
clean_percentiles = True
pixel_scale = 0.03			### arcsec per pixel of the image
aperture_units = pixels			### units for aperture size, options = [pixels,arcsec]
aperture_size = 3.3333,5.83333		### list of sizes to plot
aperture_colour = xkcd:yellow orange		### anything Matplotlib compatible
aperture_thickness = 0.5			### ^
show_progress_bar = True
